body{
  background-color:rgb(109, 40, 217);
}
h1{
  color:rgb(199, 90, 108);
  background-color:rgb(49, 49, 123);
  margin-left: 3px;
  
}
.container{
  display:grid;
  grid-template-columns:  repeat(4, 1fr);
  
}
.box{
  border-radius: 15px;
  display: flex;           
  align-items: center;        
  background-color:rgb(49, 49, 123);
  border:1px solid rgb(49,49,123);
  min-height: 105px;
  text-align: center;
  font-size: 18px;
  margin-left:3px;
  margin-bottom:3px;
}
.image-size {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left:5px;
  
}
.text-content {
  text-align: left;
  margin-left: 40px;
  margin-bottom: 10px;
}
.player-name {
  font-weight: bold;
  margin: 0;
  color:orange;
  
}
.player-stat {
  margin: 4px 0 0;
  font-size: 22px;
  opacity: 0.9;
  color:antiquewhite;
}
.container2{
  display: grid;
  grid-template-columns: 1fr;
  gap:3px;
  margin-top:5px; 
}
.box2{
  display: flex;           
  align-items: center;
  justify-content: center;  
  align-items: center;         
  background-color:rgb(76, 10, 182);
  border:1px solid rgb(76,10,182);
  min-height: 87px;
  text-align: center;
  font-size: 18px;
  border-radius:15px;
  margin-left:3px;
  margin-bottom:3px;
}
.text1-of-box-2{
   text-align: center;
  font-weight: bold;
  color:#00E676;
  }
  .container3 {
  height: 272px;        
  min-height: 272px;
  border-radius: 15px;
  background-color: rgb(76, 10, 182);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:5px;
  margin-left:3px;
}
.team-runs {
  padding: 20px;
  color: white;
}
.team-runs h2 {
  margin-bottom: 20px;
  text-align: center;
}
.team {
  margin-bottom: 20px;
}
.team-name {
  margin-bottom: 6px;
  font-weight: bold;
}
.bar {
  width: 100%;
  height: 20px;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  overflow: hidden;
}
.fill {
  height: 100%;
  border-radius: 10px;
  transition: width 1s ease-in-out;
}
.india { 
  width: 100%; background: #00c6ff; 
}
.sa { 
  width: 93%; background: #00e676; 
}
.aus { 
  width: 87%; background: #ff9800; 
}
.small-text{
  font-size:20px;
}
.container4 {
  flex: 1;  
  height: 272px;
  border-radius: 15px;
  background-color: rgb(76, 10, 182);
  margin-top: 5px;
  margin-left:5px;
  width:198%;
}
.container4 h3 {
  margin-bottom: 10px;
  padding-left:10px;
  color:white;
}
.container4 table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
.container4 th,
.container4 td {
  padding: 6px;
  text-align: center;
}
.container4 th {
  background: rgba(255,255,255,0.15);
}
.container4 tr:nth-child(even) {
  background: rgba(255,255,255,0.05);
}
.table-heading{
  padding-left:100px;
  margin-right:3px;
}





